#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; 
    
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;   
    background-repeat:   no-repeat;
    background-image: url("stormtrooperOverlay.jpg");
    background-size: cover;
    background-position: center center;
    /*background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    opacity: 1;

    /*-webkit-transition:         all 1.1s ease-in-out;
    -moz-transition:            all 1.1s ease-in-out;
    -ms-transition:             all 1.1s ease-in-out;
    -o-transition:              all 1.1s ease-in-out;
    transition:                 all 1.1s ease-in-out;*/
}


#overlayButton{
    
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .7;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}

@font-face{
    
    font-family: Exo2-Thin;
    src: url(Fonts/Exo2-Thin.otf)
    
}

#floatGreeting{
    
    position: relative;
    top: 75%;
    left: 1%;
    bottom: 5%;
    font-family: Exo2-Thin;      
    display: inline-block;
    padding: 0;
    
    
    
}

html{
    
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-smoothing: antialiased;
    
}


